.container {
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
  padding-top: 5%;
}

.centered-text {
  text-align: center;
}

.highlight-title {
  padding-bottom: 10%;
}

.column {
  /* //splits half and half: allows us to create two rows in this case */
  flex: 50%;
}

/* Clear floats after the columns */
.row {
  display: flex;
}

.removebullets {
  margin-left: 100px;
  margin-right: 100px;
}

.paragraph {
  margin-left: 150px;
  margin-right: 150px;
}

.last-section {
  padding-top: 5%;
  padding-bottom: 6%;
}

img {
  width: 60%;
}

@media (max-width: 844px) {
  img {
    width: 32%;
  }
}

@media (min-width: 390px) {
  body {
    background-color: rgb(103, 131, 88);
  }
}

img {
  width: 60%;
}

@media (max-width: 1080px) {
  img {
    width: 100%;
  }
}

@media (min-width: 1081px) {
  body {
    background-color: burlywood;
  }
}
